.calificar-container {
    max-width: 800px;

  .evento-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }

  .star-rating {
    .star-icon {
      font-size: 1.8rem;
      cursor: pointer;
      transition:
        transform 0.2s ease,
        color 0.2s ease;
      color: rgba(255, 255, 255, 0.4);

      &.active {
        color: #ffc107;
      }

      &:hover {
        transform: scale(1.2);
        color: #ffdb70;
      }
    }
  }

  .form-wrapper {
    max-width: 500px;

    .form-control {
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &:focus {
        border-color: #ffc107;
        box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
      }
    }
  }
}
