.user-icon-btn {
  font-size: 1.6rem;
  line-height: 1;
}

.user-dropdown-menu {
  margin-top: 2rem !important;
}

.user-dropdown-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.user-dropdown-link i {
  font-size: 1.2rem;
}
