.login {
  .container {
    width: 820px;
    height: 480px;
    background-color: white;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 1);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.18, 1);
    padding: 0%;

    &.active {
      .login {
        opacity: 0;
        transform: translateX(-40px);
        display: none;
      }

      .registro {
        display: flex;
        opacity: 1;
        transform: translateX(0);
      }

      .panel-izquierdo {
        transform: translateX(100%);
        border-radius: 150px 0 0 150px;
      }

      .panel-derecho {
        transform: translateX(-100%);
        border-radius: 0 150px 150px 0;
      }
    }
  }

  .panel {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.18, 1);

    &-izquierdo {
      background-image: url("/assets/login/login.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: black;
      border-radius: 0 150px 150px 0;

      h2 {
        font-size: 32px;
        margin-bottom: 12px;
      }

      p {
        margin-bottom: 30px;
      }

      button {
        padding: 14px 40px;
        border-radius: 20px;
        border: none;
        background: white;
        font-weight: 600;
        cursor: pointer;
      }
    }

    &-derecho {
      position: relative;
      background: white;
      border-radius: 150px 0 0 150px;
    }
  }

  .form {
    position: absolute;
    inset: 0;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    opacity: 0;
    transform: translateX(40px);
    transition: 0.6s ease;

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    input {
      padding: 14px;
      border-radius: 10px;
      border: 1px solid black;
    }

    button {
      margin-top: 10px;
      padding: 14px;
      border-radius: 20px;
      border: none;
      background-image: url("/assets/login/login.jpg");
      font-weight: 600;
      cursor: pointer;
    }
  }

  .login {
    opacity: 1;
    transform: translateX(0);
  }

  .registro {
    display: none;
  }
}
