// Jost

/* jost-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Jost/jost-v20-latin-regular.woff2') format('woff2');
}

/* jost-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/Jost/jost-v20-latin-italic.woff2') format('woff2');
}

/* jost-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Jost/jost-v20-latin-600.woff2') format('woff2'); 
}

/* jost-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/Jost/jost-v20-latin-600italic.woff2') format('woff2');
}

/* jost-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Jost/jost-v20-latin-800.woff2') format('woff2'); 
}

/* jost-800italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/Jost/jost-v20-latin-800italic.woff2') format('woff2');
}


// Outfit

/* outfit-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Outfit/outfit-v15-latin-regular.woff2') format('woff2');
}

/* outfit-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Outfit/outfit-v15-latin-600.woff2') format('woff2');
}

/* outfit-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Outfit/outfit-v15-latin-800.woff2') format('woff2');
}