// Estilos del Hero Section
.hero-section {

    background-image:
        linear-gradient(
            rgba($primary, 0.25), 
            rgba($primary, 0.25)
        ),

        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.9) 0%,      /* Arriba */
            rgba(0, 0, 0, 0.25) 50%,    /* Centro */
            rgba(0, 0, 0, 0.9) 100%     /* Abajo */
        ),
        url('../../assets/img/hero/hero-image.webp');
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    min-height: 700px;
    
    @media (max-width: 768px) {
        min-height: 600px;
    }
}

.accent-button {
    background-color: $accent;
    color: $gray-800;
}

.accent-button:hover {
    background-color: $accent-dark;
    color: $gray-900;
}

.ods{
    color: hsl(214, 87%, 26%);
}