// Importamos las fuentes personalizadas
@import "fonts";
@import "custom_gradient";

// Sobreescribimos las variables de Color
$primary: hsl(180, 79%, 43%);
$secondary: hsl(180, 76%, 24%);
$success: hsl(90, 64%, 58%);
$warning: hsl(62, 89%, 58%);
$danger: hsl(0, 83%, 59%);
$accent: hsl(39, 89%, 53%);

// Sobreescribimos el color del Background y de las fuentes
$body-bg: hsl(29, 29%, 96%); // Fondo de la web
$body-color: hsl(0, 0%, 26%); // Color de texto por defecto

// Light Color versions
$primary-light: hsl(180, 62%, 64%);
$secondary-light: hsl(180, 69%, 35%);
$success-light: hsl(90, 63%, 65%);
$warning-light: hsl(62, 82%, 69%);
$danger-light: hsl(0, 82%, 68%);
$accent-light: hsl(39, 86%, 60%);
$body-bg-light: hsl(30, 27%, 99%);
$body-color-light: hsl(0, 1%, 34%);

// Dark Color versions
$primary-dark: hsl(190, 84%, 36%);
$secondary-dark: hsl(180, 80%, 21%);
$success-dark: hsl(90, 66%, 47%);
$warning-dark: hsl(62, 91%, 46%);
$danger-dark: hsl(0, 84%, 49%);
$accent-dark: hsl(39, 92%, 46%);
$body-bg-dark: hsl(30, 27%, 81%);
$body-color-dark: hsl(0, 0%, 20%);

// Sobreescribimos las fuentes
$font-family-sans-serif: 'Outfit', system-ui, -apple-system, sans-serif;
$headings-font-family: 'Jost', sans-serif;

@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons";
@import "hero-section";
@import "copyright";