
$velocidad-animacion: 35s; 
$alto-logo: 70px;
$ancho-espacio-logo: 200px;
.slider-logos {
  width: 100%;
  overflow: hidden;
  position: relative;

 
  .slide-track {
    display: flex;
    width: max-content;
    animation: scrollLogos $velocidad-animacion linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  .slide {
    width: $ancho-espacio-logo;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

  
    img {
      width: 100%;
      height: $alto-logo;
      object-fit: contain;
    }
  }
}


@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}